{% load static %}

{% include "inc/_inc.html" %}

{% include "inc/_header.html" %}

        <!-- service_area_start  -->

            <div class="container">
                <form action="" method="GET" enctype='multipart/form-data'>
                    {% csrf_token %}
                    {% if user.is_authenticated %}
                        {{ filter.form.as_p }}
                    <input type="submit" />
                    {% endif %}
                </form>
                <div class="row justify-content-center ">
                    <div class="col-lg-7 col-md-10">
                        <div class="section_title text-center mb-95">
                            <h3>Книги доступны каждому!</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    {% for book in page_obj %}
                    <div class="col-lg-4 col-md-6">
                        <div class="single_service">
                             <div>
                                 <img src="/media/{{ book.book_img }}" class="mx-auto d-block" alt="{{book.book_name}}" style="height: 300px; width: 200px;">
                             </div>
                             <div class="service_content text-center">
                                 <a href="{{ book.pk }}">
                                 <h3>{{ book.book_name }}</h3>
                                 <h4>{{ book.date_creation|date:'o' }}г.</h4>
                                 </a>
                                 {% for a in book.author.all %}
                                    <p>{{ a }}</p>
                                 {% endfor %}
                             </div>
                        </div>
                    </div>
                    {% endfor %}
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
                </div>
            </div>


{% include "inc/_footer.html" %}



