<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% if sale%}
        <h1>Сезон скидок начался</h1>
    {% endif %}

<!--    {% for book in books %}-->
<!--    <h1>{{ book.book_name }}</h1>-->
<!--    <h2>Информация об авторе: {{ book.author__first_name }} {{ book.author__last_name }} ({{ book.author__country }})</h2>-->
<!--    <h2>Издательство: {{ book.id_publishing_house__publishing_house_name }}</h2>-->
<!--    <p>Адрес: {{ book.id_publishing_house__address }}</p>-->
<!--    {% empty %}-->
<!--    <h1>Данные отсутствуют</h1>-->
<!--    {% endfor %}-->

    {% for book in books %}
    <h1>{{ book.book_name }}, {{ book.date_creation|date:'o' }}г.</h1>
    <h3>{{ book.description }}</h3>
    <h2>Издательство: {{ book.id_publishing_house__publishing_house_name }}</h2>
    <p>Адрес: {{ book.id_publishing_house__address }}</p><hr>
    {% empty %}
    <h1>Данные отсутствуют</h1>
    {% endfor %}
</body>
</html>